pandas
numpy
chromadb 
matplotlib 
tqdm 
scikit-learn 
sentence-transformers 
notebook
sentence_transformers
nltk
flask
Flask
hf_xet
elasticsearch
docker
seaborn
plotly
transformers
gunicorn
lxml
httpx
PyMuPDF
ipykernel
